[Hazelcast]
; use hazelcast in standalone mode or with cluster (as client)?
standalone=true

; cluster options (if standalone != true)
ip=127.0.0.1
port=5701
user=hz-cluster
password=<Password>

;logging options
logTopicName=log-proxy-1